<% news = @news %>
<% total, ready, blocked = news.count, news.where("ready = 1").count, news.where("ready = 0").count %>

<h2>NEWS CURATION (Company: "Google", Keyword: "Social Media") </h2>
<h4><%= link_to "Next Page", news_analysis1_path %> </h4>
<div class = "row">
	<div class = "col-xs-4"></div>
	<div class = "col-xs-4">
	<table class="table table-bordered">
		<tr>
			<th rowspan=1 > Total </th>
			<td> <%= total %> </td>
		</tr>
		<tr>
			<th rowspan = 1> Ready </th>
			<td> <%= ready %> (<%= ((ready/total.to_f) *100).round(2) %>%)</td>
		</tr>
		<tr>
			<th rowspan = 1> Blocked </th>
			<td> <%= blocked %> (<%= ((blocked/total.to_f)*100).round(2) %> % ) </td>
		</tr>
	</table>
	</div>
	<div class = "col-xs-4"></div>
</div>
	
<div class = "row">
	<div class = "col-xs-1"></div>
	<div class = "col-xs-10">
		<table class="table table-bordered">
			<tr>
				<th>Headline</th>
				<th>Description</th>
				<th>URL</th>
				<th>Blocked</th>		
			</tr>
			<% news.each do |n| %>
				<tr>
					<td> <%= n.headline %> </td>
					<td> <%= n.description %> </td>
					<td> <%= link_to n.url.truncate(30), n.url %> </td>
					<td> <%= n.ready == 1 ? "No" : "Yes" %> </td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class = "col-xs-1"></div>

</div>
